.sh-base {
    position: relative;
    right: 20vw;
    bottom: 0;
}

.sh-base button {
    margin-left: 18vw;
}

.sh-detalhes, .sh-detalhes div {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
}

.sh-detalhes{
    justify-content: space-between;
}


.sh-detalhes b {
    font-size: inherit;
    font-weight: 600;
    margin: 0 0.5rem;
}

.sh-detalhes img {
    margin: 2rem 0.5rem;
}